.mb-10{
    margin-bottom: 7rem;
}
.p-10{
    padding: 6rem 0;
}
.mb-20{
    margin-bottom: 14rem;
}
.mn-10{
    margin-top: -7rem;
}

/* nav bar css
============== */
.navbar-brand {
    font-weight: 700;
    font-size: 22px;
    color: #3E3E3E;

}

.nav-item {
    font-weight: 500;
    color: #3E3E3E;

}
/* banner css
============= */
.cc-banner-img{
    background-image: url("../images/banner.png");
    background-size: cover;
}